.navbar-transparencia {
  backdrop-filter: blur(10px);
}

/* * {
  outline: 1px solid red !important;
} */

/* Grid Hero--------------------------------------------------

 */

.tamaño-uno {
  height: 230px;
}
.tamaño-dos {
  height: 320px;
}

.tamaño-tres {
  height: 400px;
}
.tamaño-cuatro {
  height: 490px;
}

/* Radio videos */

.border-radius {
  border-radius: 10px;
}
/*Ordenar titulo Por qué SoyFoodie*/

.ordenarPrimero {
  order: -1;
}

@media (min-width: 768px) {
  .ordenarPrimero {
    order: 0;
  }
}

/*ajuste cards de Por qué SoyFoodie*/
.tamaño-contenedor-seccion-porque {
  margin: auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .tamaño-contenedor-seccion-porque {
    height: 90vh;
    padding-top: 15vh;
  }
}

.ajustes-cards-titular {
  display: block;
  padding: 5% 10% 0% 5%;
  line-height: 1;
}

.ajustes-cards-referencia {
  padding: 0 10% 5% 5%;
}

.tamaño-cards {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

@media (min-width: 768px) {
  .tamaño-cards {
    height: 25vh;
  }
}

.centrar-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

/*separador*/
.separador {
  width: 30%;
  border: none;
  height: 2px;
  background-color: #00000099;
  margin: 1rem auto;
}

/*Editar hovers*/
.contenedor-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}

.contenedor-hover:hover {
  transform: scale(1.03);
  border-radius: 10px;
  background: linear-gradient(135deg, #ff0033, #f4714c);
}

.shadow-white {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.118);
}

.link-dark {
  transition: color 0.3s ease, transform 0.3s ease;
  text-align: center;
}
.link-dark:hover {
  color: #ffffff !important;
  transform: scale(1.08);
}
.navbar-brand {
  transition: color 0.3s ease, transform 0.3s ease;
  text-align: center;
  padding: 5px 10px;
}
.navbar-brand:hover {
  transform: scale(1.08);
}

/*ajuste cards de Descubre*/

.tamaño-contenedor-seccion {
  height: 110vh;
  margin: auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.card-izq-descubre,
.card-der-descubre {
  border-radius: 15px;
}

.card-izq-descubre {
  border: 2px solid #4543439e;
  height: auto;
  width: 90%;
  margin-bottom: 2vh;
  transition: border 0.5s ease;
}

.card-izq-descubre:hover {
  border-color: #ef0000;
}

.card-der-descubre {
  height: 400px;
  width: 90%;
}

.emoji-efecto {
  transition: transform 0.5s ease-out;
}

.emoji-efecto:hover {
  transform: scale(1.5);
}
.ocultar-movil {
  display: none;
}
@media (min-width: 768px) {
  .card-der-descubre {
    width: 40vw;
  }
  .card-izq-descubre {
    height: 43%;
  }
  .tamaño-contenedor-seccion {
    height: 90vh;
  }

  .ocultar-movil {
    display: grid;
  }
}

/*footer*/

.footer-gradient {
  background: linear-gradient(135deg, #d32f2f, #fbc02d);
  background-size: 400% 400%;
  animation: gradientAnimationBoton 20s ease infinite;
}
.boton-gradient {
  background: linear-gradient(135deg, #d32f2f, #ffffff, #fbc02d);
  background-size: 600% 600%;
  animation: gradientAnimationFooter 30s ease infinite;
}

@keyframes gradientAnimationFooter {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientAnimationBoton {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
