.navbar-transparencia {
  backdrop-filter: blur(10px);
}

/* Grid Hero--------------------------------------------------

 */

.tamaño-contenedor {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
}

.tamaño-uno {
  height: 230px;
}
.tamaño-dos {
  height: 320px;
}

.tamaño-tres {
  height: 400px;
}
.tamaño-cuatro {
  height: 490px;
}

/* Radio videos */

.border-radius {
  border-radius: 10px;
}
/*Ordenar titulo Por qué SoyFoodie*/

.ordenarPrimero {
  order: -1;
}

@media (min-width: 768px) {
  .ordenarPrimero {
    order: 0;
  }
}

/*ajuste cards de Por qué SoyFoodie*/

.ajustes-cards-titular {
  display: block;
  padding: 5% 10% 0% 5%;
  line-height: 1;
}

.ajustes-cards-referencia {
  padding: 0 10% 5% 5%;
}

.tamaño-cards {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.centrar-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

/*separador*/
.separador {
  width: 30%;
  border: none;
  height: 2px;
  background-color: #00000099;
  margin: 1rem auto;
}

/*Editar hovers*/
.contenedor-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}

.contenedor-hover:hover {
  transform: scale(1.03);
  border-radius: 10px;
  background: linear-gradient(135deg, #ff0033, #ff4d4d);
}

.shadow-white {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.118);
}

.link-dark {
  transition: color 0.3s ease, transform 0.3s ease;
  text-align: center;
}
.link-dark:hover {
  color: #ffffff !important;
  transform: scale(1.08);
}
.navbar-brand {
  transition: color 0.3s ease, transform 0.3s ease;
  text-align: center;
  padding: 5px 10px;
}
.navbar-brand:hover {
  transform: scale(1.08);
}
